@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(to right bottom, #050e27, #192542, #2f3d5f, #45567d, #5c719d, #6186b5, #659bcc, #68b1e2, #56c4ee, #48d7f5, #4aeaf6, #5ffbf1);
}